.post_list {
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	a {
		font-size: 16px;
		font-weight: bold;
	}
}

.post_header {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	
	div {
		padding-left: 5px;
		display: flex;
		flex-direction: column;
	}
	
	small {
		text-align: left;
	}
}

@media (max-width: 960px) {
	.post_header {
		flex-direction: column;
	}
	div {
		padding-left: 0px;
		padding-bottom: 8px;
	}
}
